.input-img{
    width: 60%;
    height: 100%;
    position: relative;
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.input-img::-webkit-file-upload-button{
    position: absolute;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #D7E6EA;
    color: #071321;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.input-img::-webkit-file-upload-button:hover{
    border: 1px solid #071321;
    transition: 0.7s ease;
}
.MuiInputBase-input:focus{
    border-color: #D7E6EA!important;
}
.Mui-focused{
    color: #071321!important;
    border-color: #D7E6EA!important;
    
}
.input-file{
    border: 1px solid #babbbc;
    border-radius: 0.2rem;
    padding-left: 5rem;
    width: 15rem;
    height: 2rem;
}
.input-file:hover{
    border-color:#071321 ;
}
.input-file:hover::-webkit-file-upload-button{
    border-color:#071321 ;
}
.input-file::-webkit-file-upload-button:hover{
    border-color:#071321 ;
}
.input-file::-webkit-file-upload-button{
    width: 10%;
    height: 100%;
    border-bottom: 1px solid #babbbc;
    border-top: 1px solid #babbbc;
    border-left: 1px solid #babbbc;
    border-right: 0px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    color: transparent;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.2rem;
}